$item-height:32px;
$font-size:14px;
$border-colour: rgb(194, 194, 195);
$border-colour-item: rgba(194, 194, 195, 0.5);
$back-colour: white;
$back-colour-hover: #F0F0F0;
$back-colour-right-img-hover: #bbc361;

@mixin border-box() {
    box-sizing:border-box; 
    -moz-box-sizing:border-box;
}

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

@mixin flexchild {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

// ---------------------------------------------------
// .test {
//     border: 5px solid red; 
// }


.pop-tint-backdrop {
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
    // background-color: rgba(175, 179, 169, 0.233);
    background: black;
    opacity: 0;
    transition: opacity 0.3s;
}

.pop-container {
    position: absolute;
    z-index: 1001;
    color: #292c35;
    width: 250px;
    height: 150px;
    background-color: rgb(236, 236, 236);
    // transition: opacity 1s;
    border: 1px solid #a6a8ad;
    //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    & .pop-header {
        padding: 5px;
        line-height: 25px;
        border-bottom: 1px solid #b4b4b4;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    & .pop-content {
        position: relative;
        padding: 5px;
        background-color: white;

        & .pop-border {
            padding: 3px;
            border: 1px solid #c7c5d6;
            border-radius: 4px;
        }
    }
    
    & .pop-footer {
        border-top: 1px solid #b4b4b4;
        text-align: right;
        padding: 5px;
        line-height: 25px;

        >.button {
            display: inline-block;
            font-size: small;
            border: 1px solid #afafaf;
            border-radius: 4px;
            background-color: rgb(233, 233, 233);
            padding: 0 10px 0 10px;
            margin-left: 10px;
            line-height: 19px;
            cursor: pointer;
            transition: background-color 0.2s;
            &:hover {
                background-color: #f7f7f7;
                border-color: darkgoldenrod;
            }
        }
    }
}

// ---------------------------------------------------
